.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--header-dark);
  height: 62px;
  color: #fff;
  font-size: 25px;
}

.inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
